{% extends 'tempelate.html' %}
{% block content %}
<head>

    {% load static %}
  <link rel="stylesheet" href="{% static "css/login-register.css" %}">
  <title>title</title>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
  <meta name="keywords" content="keywords" />
  <script type="application/x-javascript">
    addEventListener("load", function () {
      setTimeout(hideURLbar, 0);
    }, false);

    function hideURLbar() {
      window.scrollTo(0, 0);
    }
  </script>
  <!-- //custom-theme -->
    <link rel="stylesheet" href="{% static "css/about.css" %}" type="text/css" media="screen" property="" />
  <link href="{% static "css/bootstrap.css" %}" rel="stylesheet" type="text/css" media="all" />
  <link rel="stylesheet" href="{% static "css/shop.css" %}" type="text/css" media="screen" property="" />
  <link href="{% static "css/style7.css" %}" rel="stylesheet" type="text/css" media="all" />
  <link href="{% static "css/style.css" %}" rel="stylesheet" type="text/css" media="all" />
  <!-- font-awesome-icons -->
  <link href="css/font-awesome.css" rel="stylesheet">
  <!-- //font-awesome-icons -->
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.13/css/all.css" integrity="sha384-DNOHZ68U8hZfKXOrtjWvjxusGo9WQnrNx2sqG0tfsghAvtVlRW3tvkXWZh58N9jp"
    crossorigin="anonymous">

</head>


	<!-- top Products -->
	<div class="ads-grid_shop">
		<div class="shop_inner_inf">
			<h2 style="text-align: center" class="head">درباره رنتپوش</h2>
			<div class="inner_section_w3ls">
				<div class="col-md-6 news-left">
					<img src="{% static "images/banner2.jpg" %}" alt=" " class="img-responsive">
				</div>
				<div class="col-md-6 news-right">
					<h4 style="text-align: right">به رنتپوش خوش آمدید</h4>
					<br>
					<p style="text-align: right" class="sub_p">توسعه اینترنت روشهای خرید ما را به کلی دگرگون کرده است. منافع موجود در خرید اینترنتی هر روز، تعداد بیشتری از مردم را
						به تجربه آن و ایجاد تغییر در الگوهای متداول خرید ترغیب می کند. بعد از تجربه خرید، اجاره اینترنتی بیشتر با سرعت
						زندگی مدرن همگام شد و توانست خود را با روحیات و نیازهای رو به رشد مشتریان هماهنگ کند. در حالیکه مشغله های روزانه فرصت
						 لذت بردن از اوقات فراغت را کاهش داده است، مصرف زمان های طولانی برای انجام سفرهای درون شهری و خرید نیازهای روزانه معنای خود را از دست می دهد
					
					</p>
					<p style="text-align: right">آنچه در فرصت اوقات فراغت برای افراد در اولویت قرار می گیرد، تفریح، آموزش، ورزش، لذت بردن از علایق 
						شخصی و رفع خستگی‏‏های روزانه است. همه این عوامل افراد را مجاب به استفاده از روش های نوین مانند مراجعه به یک فروشگاه
						اجاره اینترنتی در کمترین زمان برای انجام فعالیت هایی وقت گیر گذشته می کند، تا قبل از رنتپوش فرآیند استقبال مشتریان از
						خرید کالا ثابت کرد این روش از زندگی مورد علاقه طیف عظیمی از افراد است 
					</p>
				</div>
				<div class="clearfix"> </div>
			</div>
		</div>

	</div>
	<div class="mid_services">
		<div class="col-md-6 according_inner_grids">
			<h3 style="text-align: right" class="heading two">چرا رنتپوش</h3>
			<div class="according_info">
				<div class="panel-group about_panel" id="accordion" role="tablist" aria-multiselectable="true">
					<div class="panel panel-default">
						<div class="panel-heading" role="tab" id="headingOne">
							<h4 class="panel-title asd">
								<a class="pa_italic" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseOne" aria-expanded="true"
								    aria-controls="collapseOne">
									<span class="glyphicon glyphicon-plus" aria-hidden="true"></span>
									<i class="glyphicon glyphicon-minus" aria-hidden="false"></i>اصالت برند کالا
								</a>
							</h4>
						</div>
						<div id="collapseOne" class="panel-collapse collapse in" role="tabpanel" aria-labelledby="headingOne" style="height: auto;">
							<div class="panel-body panel_text">

							</div>
						</div>
					</div>
					<div class="panel panel-default">
						<div class="panel-heading" role="tab" id="headingTwo">
							<h4 class="panel-title asd">
								<a class="pa_italic collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseTwo" aria-expanded="false"
								    aria-controls="collapseTwo">
									<span class="glyphicon glyphicon-plus" aria-hidden="true"></span>
									<i class="glyphicon glyphicon-minus" aria-hidden="true"></i>هزینه مناسب
								</a>
							</h4>
						</div>
						<div id="collapseTwo" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingTwo">
							<div class="panel-body panel_text">

							</div>
						</div>
					</div>
					<div class="panel panel-default">
						<div class="panel-heading" role="tab" id="headingThree">
							<h4 class="panel-title asd">
								<a class="pa_italic collapsed" role="button" data-toggle="collapse" data-parent="#accordion	" href="#collapseThree" aria-expanded="false"
								    aria-controls="collapseThree">
									<span class="glyphicon glyphicon-plus" aria-hidden="true"></span>
									<i class="glyphicon glyphicon-minus" aria-hidden="true"></i>تحویل در همان روز
								</a>
							</h4>
						</div>
						<div id="collapseThree" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingThree">
							<div class="panel-body panel_text">

							</div>
						</div>
					</div>
					<div class="panel panel-default">
						<div class="panel-heading" role="tab" id="headingThree">
							<h4 class="panel-title asd">
								<a class="pa_italic collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseThree" aria-expanded="false"
								    aria-controls="collapseThree">
									<span class="glyphicon glyphicon-plus" aria-hidden="true"></span>
									<i class="glyphicon glyphicon-minus" aria-hidden="true"></i>خدمات پس از اجاره
								</a>
							</h4>
						</div>
						<div id="collapseThree" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingThree">
							<div class="panel-body panel_text">

							</div>
						</div>
					</div>
				</div>
			</div>

		</div>
		<div class="col-md-6 mid_services_img">
			<div  class="bar-grids">
				<h3 style="text-align: right; color: #000;" class="heading two three">توانایی های ما</h3>
				<div style="color: #000;" class="skill_info">
					<h6 style="text-align: right; color: #000;">توسعه
						<span> 95% </span>
					</h6>
					<div class="progress">
						<div class="progress-bar progress-bar-striped active" style="width: 95%">
						</div>
					</div>
					<h6 style="text-align: right; color: #000;">قیمت
						<span> 85% </span>
					</h6 >
					<div class="progress">
						<div class="progress-bar progress-bar-striped active" style="width: 85%">
						</div>
					</div>
					<h6 style="text-align: right; color: #000;">محصول
						<span>90% </span>
					</h6>
					<div class="progress">
						<div class="progress-bar progress-bar-striped active" style="width: 90%">
						</div>
					</div>
					<h6 style="text-align: right; color: #000;">بازاریابی
						<span>86% </span>
					</h6>
					<div class="progress prgs-last">
						<div class="progress-bar progress-bar-striped active" style="width: 86%">
						</div>
					</div>
				</div>
			</div>

		</div>
		<div class="clearfix"> </div>
	</div>
	<!-- footer -->

	<!-- //footer -->
{% endblock %}