{% extends 'tempelate.html' %}

{% block content %}

<head>
{% load static %}
	<title>RentPoosh</title>
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
	<meta name="keywords" content="Downy Shoes Responsive web template, Bootstrap Web Templates, Flat Web Templates, Android Compatible web template,
Smartphone Compatible web template, free webdesigns for Nokia, Samsung, LG, SonyEricsson, Motorola web design" />
	<script type="application/x-javascript">
		addEventListener("load", function () {
			setTimeout(hideURLbar, 0);
		}, false);

		function hideURLbar() {
			window.scrollTo(0, 0);
		}
	</script>
	<!-- //custom-theme -->
	<link href="{% static "css/bootstrap.css" %}" rel="stylesheet" type="text/css" media="all" />
	<link rel="stylesheet" href="{% static "css/shop.css" %}" type="text/css" media="screen" property="" />
	<link href="{% static "css/style7.css" %}" rel="stylesheet" type="text/css" media="all" />
	<!-- Owl-carousel-CSS -->
	<link rel="stylesheet" type="text/css" href="{% static "css/jquery-ui1.css" %}">
	<link href="{% static "css/style.css" %}" rel="stylesheet" type="text/css" media="all" />
	<!-- font-awesome-icons -->
	<link href="{% static "css/font-awesome.css" %}" rel="stylesheet">
	<!-- //font-awesome-icons -->
</head>
	<!-- //banner -->
	<!-- top Products -->
	<div class="ads-grid_shop">
		<div class="shop_inner_inf">
			<!-- tittle heading -->

			<!-- //tittle heading -->
			<!-- product left -->
			<div class="left-ads-display col-md-9">
				<div class="wrapper_top_shop">
					<div class="col-md-6 shop_left">
						<img src="{% static "images/banner3.jpg" %}" alt="">

					</div>
					<div class="col-md-6 shop_right">
						<img src="{% static "images/banner2.jpg" %}" alt="">
						<h6>50% off</h6>
					</div>
					<div class="clearfix"></div>
					<!-- product-sec1 -->
					<div class="product-sec1">
						<!--/mens-->

                        {% for i in list %}

						<div class="col-md-4 product-men">
							<div class="product-shoe-info shoe">
								<div class="men-pro-item">
									<div class="men-thumb-item">
										<img src="{% static "images/" %}g{{ forloop.counter }}.jpg">
										<div class="men-cart-pro">
											<div class="inner-men-cart-pro">
												<a href="/single?item={{ i.name }}" class="link-product-add-cart">نمایش سریع</a>
											</div>
										</div>
										<span class="product-new-top">جدید</span>
									</div>
									<div class="item-info-product">
										<h4>
											<a href="/single?item={{ i.name }}" style="color: red">{{ i.name }}</a>
										</h4>
										<div class="info-product-price">
											<div class="grid_meta">
												<div class="product_price">
													<div class="grid-price ">
														<span class="money ">تومان {{ i.rentPrice }}</span>
													</div>
												</div>
											</div>

										</div>
										<div class="clearfix"></div>
									</div>
								</div>
							</div>
						</div>
                        {% endfor %}

						<!-- //mens -->
						<!-- /womens -->

						<!-- //womens -->
						<!-- /mens -->

						<!-- //mens -->
						<div class="clearfix"></div>
					</div>
				</div>
			</div>
			<!-- //product left -->
			<!-- product right -->
			<div style="text-align: right" class="side-bar col-md-3">
				<div class="search-hotel">
					<h3 style="text-align: right" class="agileits-sear-head">جستجوی لباس</h3>
					<form action="#" method="post">
						<input style="color: black" type="search" name="search" required="">
						<input type="submit" value=" ">
					</form>
				</div>
				<!-- price range -->
                <div class="range" style="float: right">
                        <h3 style="text-align: right" class="agileits-sear-head">بازه قیمت اجاره</h3>
                        <input type="number" placeholder="تا" style="text-align: center" id="priceTo" name="priceTo">
                        <input type="number" placeholder="از" style="text-align: center" id="priceFrom" name="priceFrom">

                </div>
				<!-- //price range -->
				<!--preference -->
				<div class="left-side">
					<h3 class="agileits-sear-head">مناسبت</h3>
					<ul>
						<li>
							<span class="span">مهمانی غیر رسمی</span>
							<input type="checkbox" class="checked" onchange="" id="mehmani">

						</li>
						<li>
							<span class="span">مهمانی رسمی</span>
							<input type="checkbox" class="checked" onchange="" id="mehmaniRasmi">

						</li>
						<li>
							<span class="span">عروسی</span>
							<input type="checkbox" class="checked" onchange="" id="aroosi">

						</li>
					</ul>
				</div>
				<!-- // preference -->
				<!-- discounts -->
				<div class="left-side">
					<h3 class="agileits-sear-head">جنسیت</h3>
					<ul>
						<li>
							<span class="span">مردانه</span>
							<input type="checkbox" class="checked" onchange="" id="mardane">

						</li>
						<li>
							<span class="span">زنانه</span>
							<input checked type="checkbox" class="checked" onchange="" id="zanane">

						</li>

					</ul>
				</div>
				<div class="left-side">
					<h3 class="agileits-sear-head">نوع</h3>
					<ul>
						<li>
							<span class="span">لباس</span>
							<input type="checkbox" class="checked" onchange="" id="lebas">

						</li>
						<li>
							<span class="span">کیف</span>
							<input type="checkbox" class="checked" onchange="" id="kif">

						</li>
						<li>
							<span class="span">اکسسوری</span>
							<input type="checkbox" class="checked" onchange="" id="accessories">

						</li>
						<li>
							<span class="span">کفش</span>
							<input type="checkbox" class="checked" onchange="" id="kafsh">

						</li>

					</ul>
				</div>

			</div>



			<div class="clearfix"></div>
		</div>
	</div>

	<a href="#home" id="toTop" class="scroll" style="display: block;">
		<span id="toTopHover" style="opacity: 1;"> </span>
	</a>

    <script>

    function AddCm() {

        var mehmani = $("#mehmani").val();
        var mehmaniRasmi = $("#mehmaniRasmi").val();
        var aroosi = $("#aroosi").val();
        var mardane = $("#mardane").val();
        var zanane = $("#zanane").val();
        var lebas = $("#lebas").val();
        var kif = $("#kif").val();
        var accessories = $("#accessories").val();
        var kafsh = $("#kafsh").val();
        var serializeData =  { 'mehmani' : mehmani,'mehmaniRasmi':mehmaniRasmi,'aroosi' : aroosi,'mardane' : mardane,
            'zanane' : zanane,'lebas' : lebas,'kif' : kif,'accessories' : accessories,'kafsh' : kafsh};

                $.ajax({
            url: "/items",
            type: "POST",
            data: serializeData,
            success: function(response) {
                if (response == "Success") {
                    $(commentbox).append("<div class='card'><div class='header bg-orange'><h2>" + commenter + "<small>Says...</small></h2></div><div class='body'>" + comment + "</div> </div>");
                }
                else
                    alert("Try Again")
            }
        });
    }
    </script>

{% endblock %}